:root{
  --primary:#6209DB;
  --dark: #000000;
  --grey:#f5f5f5;

}

body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  min-height: 90px;
}
.navbar .btn{
  padding: .625rem 1.25rem !important;
}
.text-primary{
  color: var(--primary) !important;
}
.btnPagoCompra{
  padding: 1rem;
}
.bg-light{
  background-color: var(--grey) !important;
  color: var(--primary);
}
.bg-grey{
  background-color: var(--grey) !important;
}

.bg-primary{
  background-color:var(--primary)  !important;
}

.btn-primary{
  background-color:var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color:var(--primary);
  border-color: var(--primary);
}
.content{
  max-width: 500px;
}
section{
  height: 900px;
}

.call-to-action{
  border-radius: 50px;
}

.call-to-action img{
  max-width: 280px;
}
@media(max-width:992px){
  .navbar{
    position: fixed !important;
  }
  section{
    height: unset;
  }
  .call-to-action img{
    max-width: 100%;
  }
  .w-75{
    width: 100% !important;
  }
  .divCompra{
    margin-top: 30%  !important;
  }
  .divDestacado{
    margin-top: 30% !important;
    margin-bottom: 43% !important;
  }
  .toast-top-full-width{
    top: 10% !important;
  }
}

.navbar-toggler:focus{
  box-shadow: none;
}
.step{
  position: relative;
  display: flex;
  justify-content: center;
}
.step::after{
  content: '';
  border-bottom: 1px solid var(--dark);
  height: 60px;
  position: absolute;
  top: 34px;
  opacity: .2;
}
.cta-form{
  max-width: 480px;
}
.cta-form .form-control{
  min-height: 82px;
}
.cta-form .btn{
  top: 12px;
  right: 12px;
}
.divCompra{
  margin-top: 5%;
  margin-bottom: 9% !important;
}
.searchNav{
  position: absolute;
  margin-left: 5px; 
  height: 40px; 
  display: flex; 
  align-items: center
}

.searchProducto{
  padding-left: 25px; 
  height: 40px;
  width: 300px;
}
.spanStock{
  opacity:0.6;
  font-size: 0.9em;
}
.seleccionDiv{
  cursor: pointer
}
.toast-top-full-width{
  top: 9% !important;
}


